.new_post {
  width: 500px;
}

.postlist_input_title  {
  width: 95%;
  margin-top: 20px;
}

.postlist_textarea {
  width: 90%;
  margin-top: 70px;
}

.postlist_input_author {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 50px;
}

.back_button {
  transition: transform 0.1s;
}

.back_button:hover {
  transform: scale(1.2);
}

.newpost__choice {
  display: grid;
  justify-items: center;
  grid-gap: 50px;
  margin: 100px, auto;
}

.newpost__add-button {
  display: flex;
  margin: 50px, auto;
}

.newpost__add-button:hover {
  color: brown;
}

.newpost__back-button {
  display: flex;
  margin: auto;
}
